/* ==UserStyle==
@name         VZ3 - UI Verbesserung
@namespace    gb.vortex.zone
@version      1.0.3
==/UserStyle== */

/*
CREDITS/THANKS for ICONS/IMAGES used:
- "Info" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/info.html, License: http://creativecommons.org/licenses/by/3.0/
- "Newspaper" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/newspaper.html, License: http://creativecommons.org/licenses/by/3.0/
- "Cardboard box closed" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/cardboard-box-closed.html, License: http://creativecommons.org/licenses/by/3.0/
- "Village" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/village.html, License: http://creativecommons.org/licenses/by/3.0/
- "Duration" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/duration.html, License: http://creativecommons.org/licenses/by/3.0/

- "Character" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/character.html, License: http://creativecommons.org/licenses/by/3.0/
- "Trade" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/lorc/trade.html, License: http://creativecommons.org/licenses/by/3.0/
- "Entry door" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/entry-door.html, License: http://creativecommons.org/licenses/by/3.0/
- "Trash Can" from Delapouite @ https://game-icons.net. 
  URL: https://game-icons.net/1x1/delapouite/trash-can.html, License: http://creativecommons.org/licenses/by/3.0/
*/

/*
Dieser Block (bis zu "ENDE:PROVINZ") ändert die Klickbereiche in der klassischen tabellarischen Provinzansicht.
Er muss am Stück behalten oder entfernt werden.
*/
@-moz-document regexp(".*v3\\.verbranntezone\\.ch/provinz\\.php.*"){
	
	td[rowspan="2"][colspan="2"],
	td[rowspan="2"][colspan="2"] * {
		height: 50px;
		width: 50px;
		padding: 0 !important;
		margin: 0 !important;
		box-sizing: content-box !important;
		border-spacing: 0 !important;
	}
	
	td[rowspan="2"][colspan="2"] * {
		border:0;
	}
	
	td[rowspan="2"][colspan="2"] s * {
		text-decoration: line-through !important;
	}
	
	td[rowspan="2"][colspan="2"] a {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		white-space: normal;
	}
	td[rowspan="2"][colspan="2"] a * {
		display: block !important;
		height:unset;
	}
}
/*ENDE:PROVINZ*/

@-moz-document domain("v3.verbranntezone.ch") {

/*
Der folgende Block an Regeln (bis zu ENDE:PROVINZ-KURZMENÜ) wandelt die 5 kleinen Buchstaben-Links im Provinzmenü
zu Symbolen um. Hier kann nur sehr wenig geändert werden ohne alles kaputt zu machen.
Gesamten Block bitte entweder vollständig behalten oder entfernen, nicht teilweise. 
*/
	table.shortlinkborder td{
		padding:0px !important;
	}
		
	table.shortlinkborder a{
		display:inline-block;
		color:transparent !important;
		width:30px;
		height:30px;
		margin:0px !important;
	}
	table.shortlinkborder a[href^="provinzinfo.php"]{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M0%200h512v512H0z%22%20fill%3D%22%23000%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M256%2021C126.426%2021%2021%20126.426%2021%20256s105.426%20235%20235%20235%20235-105.426%20235-235S385.574%2021%20256%2021zm0%2036c110.118%200%20199%2088.882%20199%20199s-88.882%20199-199%20199S57%20366.118%2057%20256%20145.882%2057%20256%2057zm-7.352%2036.744c-8.227%200-15.317%202.976-21.27%208.928-5.776%205.952-8.665%2012.955-8.665%2021.008%200%208.227%202.89%2015.23%208.666%2021.006%205.95%205.776%2013.04%208.666%2021.268%208.666%208.228%200%2015.23-2.89%2021.006-8.666%205.777-5.777%208.666-12.78%208.666-21.006%200-8.053-2.976-15.056-8.927-21.008-5.777-5.952-12.692-8.928-20.745-8.928zm-62.757%2082.453v28.096h46.215v186.13H185.89v27.833h140.22v-27.834h-45.69V176.197h-94.53z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	table.shortlinkborder a[href^="aktuelles.php"]{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M0%200h512v512H0z%22%20fill%3D%22%23000%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M41%2066.91V415.8c86.5%201%20147.5%2014.8%20206%2029.3V141.4c-45.3-30.1-90.4-58.75-206-74.49zm430%200C355.4%2082.65%20310.3%20111.3%20265%20141.4v303.7c58.5-14.5%20119.5-28.3%20206-29.3zm-20.9%2026.6l.8%2066.99c-59.4%2017.6-114.5%2037.9-168.9%2056-.4-20.9-.7-41.7-1.1-62.6%2052.8-29.2%20111.2-48.1%20169.2-60.39zM69.01%20105.3C129.8%20119.4%20184.1%20136%20226.1%20150.1l.2%2019c-41.6-13.9-101.3-32.3-161.35-46.3zm.12%2046.6l35.97%206.5-3.2%2017.8-35.97-6.5zm54.17%2011.3l32.5%206.2-3.4%2017.6-32.5-6.2zm53.2%2010.5l49.6%209.6-3.4%2017.6-49.6-9.6zm263.1%2019.9l5.2%2017.2-56%2016.9-5.2-17.2zm-377.68%204.7C119.2%20205%20176%20212.2%20223.8%20225l-4.6%2017.4c-46-12.4-102.2-19.6-159.38-26.3zM357.1%20216l4.8%2017.4-71.7%2019.8-4.8-17.4zm86.4%2021l4.8%2017.4-32.8%209.1-4.8-17.4zm-378.3%201.6l49.9%205.2-2%2018-49.8-5.4zm76.9%209.8l82.1%2012.3-2.6%2017.8-82.1-12.3zm248.5%203.7l4.8%2017.4L288.5%20299l-4.8-17.4zm55.8%2022.9l4.6%2017.4L348.5%20319l-4.6-17.4zm-388.06%206.4c29.84%203.1%2061.96%207.5%2084.46%2013v111L59.2%20398c-.33-38.9-.48-77.7-.86-116.6zm104.56%2014.7l61.5%207.5-2.2%2017.8-61.5-7.5zm161.5%2011.8l4.2%2017.5-37.8%209.1-4.2-17.5zm129.1%204.1l.4%2082.2-78.5%2010.2c-.3-23.8-.4-47.7-.7-71.5zM164%20334.4l59.8%209.8-3%2017.8-59.8-9.8zm271.7%201l-42.8%2011.3.3%2037.3%2042.7-5.6zm-81.4%209.8l3.4%2017.6-68.9%2013.1-3.4-17.6zm-191.1%2029.1l62.6%2012.4-3.4%2017.6-62.6-12.4zm186.6%206.8l4%2017.6-62.5%2013.9-4-17.6z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	table.shortlinkborder a[href^="lager.php"]{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M0%200h512v512H0z%22%20fill%3D%22%23000%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M256%2073.32L74.6%20155.1l82.3%2037.1%20173.2-85.5L256%2073.32zm95.4%2042.98l-173.2%2085.5%2077.8%2035.1%20181.4-81.8-86-38.8zM61.7%20169v182L247%20434.6v-182L61.7%20169zm388.6%200L265%20252.6v182L450.3%20351V169z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	table.shortlinkborder a[href^="bebauung.php"]{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M0%200h512v512H0z%22%20fill%3D%22%23000%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M109.902%2035.87l-71.14%2059.284h142.28l-71.14-59.285zm288%2032l-71.14%2059.284h142.28l-71.14-59.285zM228.73%2084.403l-108.9%2090.75h217.8l-108.9-90.75zm-173.828%2028.75v62h36.81l73.19-60.992v-1.008h-110zm23%2014h16v18h-16v-18zm265%2018v10.963l23%2019.166v-16.13h16v18h-13.756l.104.087%2019.098%2015.914h-44.446v14h78v-39h18v39h14v-62h-110zm-194.345%2048v20.08l24.095-20.08h-24.095zm28.158%200l105.1%2087.582%2027.087-22.574v-65.008H176.715zm74.683%2014h35.735v34h-35.735v-34zm-76.714%207.74L30.37%20335.153H319l-144.314-120.26zm198.046%2013.51l-76.857%2064.047%2032.043%2026.704H481.63l-108.9-90.75zm-23.214%20108.75l.103.086%2019.095%2015.914h-72.248v77.467h60.435v-63.466h50v63.467h46v-93.466H349.516zm-278.614%2016V476.13h126v-76.976h50v76.977h31.565V353.155H70.902zm30%2030h50v50h-50v-50z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	table.shortlinkborder a[href^="vorschau.php"]{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M0%200h512v512H0z%22%20fill%3D%22%23000%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M256%2023c-3.7%200-7.4.1-11.1.27l.8%2017.98c3.4-.16%206.8-.25%2010.3-.25%20118.8%200%20215%2096.2%20215%20215s-96.2%20215-215%20215c-89.6%200-166.35-54.7-198.65-132.6l27.63-8.3-48.43-34.3-19.05%2054.5%2022.55-6.7C74.68%20428.8%20158.4%20489%20256%20489c128.6%200%20233-104.4%20233-233S384.6%2023%20256%2023zm-30.8%202.04c-13.3%201.75-26.1%204.6-38.6%208.48l5.6%2017.09c11.4-3.54%2023.3-6.15%2035.4-7.75l-2.4-17.82zm-57%2015.12c-12.4%205.05-24.2%2011.12-35.4%2018.12l9.5%2015.21c10.3-6.44%2021.2-12.03%2032.6-16.67l-6.7-16.66zM116.4%2069.5a234.139%20234.139%200%200%200-29.35%2026.12l13.05%2012.28c8.3-8.77%2017.4-16.81%2027-24.06l-4.8-6.57-5.9-7.77zm69.5%208.58l-4.4%2017.44%20217%2055.48%204.4-17.4-217-55.52zM74.07%20110.5c-8.19%2010.2-15.54%2021.2-21.94%2032.7l15.65%208.8c5.91-10.7%2012.69-20.8%2020.26-30.3l-13.97-11.2zm127.63%208.8c-3.9%2026%202.8%2055.2%2014.2%2079.2%206.4%2013.4%2014.2%2025.2%2021.9%2033.8%204.2%204.7%208.4%208.3%2012.2%2010.9l-5.4%2021.2c-4.6.4-10%201.6-16%203.7-10.9%203.8-23.4%2010.4-35.4%2019.1-21.6%2015.6-41.4%2037.9-50.4%2062.6l167.5%2042.9c3.9-26-2.8-55.2-14.2-79.2-6.4-13.4-14.2-25.2-21.9-33.8-4.2-4.7-8.4-8.3-12.2-10.9l5.4-21.2c4.5-.5%2010-1.6%2016-3.7%2010.9-3.8%2023.4-10.4%2035.4-19.1%2021.6-15.6%2041.4-37.9%2050.4-62.6l-167.5-42.9zM43.24%20160.9c-5.33%2012-9.7%2024.4-13%2037.3l17.48%204.2c3.03-11.8%207.04-23.2%2011.95-34.2l-16.43-7.3zM26.2%20217.5C24.11%20230%2023%20242.9%2023%20256v.9l18-.2v-.7c0-12.1%201.02-24%202.95-35.6l-17.75-2.9zM113.5%20361l-4.4%2017.4%20217%2055.5%204.4-17.4-217-55.5z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
/*ENDE:PROVINZ-KURZMENÜ*/
	
/*
Die nächsten beiden Regeln wandeln Links im Navigationsmenü zu umrahmten Schaltflächen um.
Dieser Block muss wenn nicht gewünscht ganz entfernt werden.
*/
	div.textleft br {
		/* Diese Regel NICHT ÄNDERN */
		height:0px;
		margin:0px;
		padding:0px;
	}
	div.textleft a {	  
		/* 
		padding bestimmt hier hauptsächlich die Höhe. 
		Der Wert wird oben UND unten jeweils dazugerechnet, dann kommt der Rahmen.
		Angaben gehen in allen gängigen CSS-Werten, px, em, %, vh usw.
		Pixel sind "statisch", em ist relativ zur Schriftgröße des Textes.
		*/
		padding: 0.5em;
		/* border: Rahmenstil, Dicke und Farbe */
		border: outset 2px darkgray;
		/* 
		margin-top: Vertikaler Abstand zwischen 2 Schaltflächen. 
		Bei 0 ist es optisch eine einspaltige Tabelle. Größere Werte ziehen es auseinander. 
		Höhe und Abstand führen je nach Bildschirmhöhe bei Unterseiten wie "Statistiken" oder "Optionen" zu längeren 
		Listen, die gescrollt werden müssen.
		*/
		margin-top: 3px;

		/* ab hier NICHT ÄNDERN */
		display: inline-block !important;
		width: 100%;
		box-sizing: border-box;
	}
	div.textleft a:hover {
		border-style: outset !important;
		border-color: white;
	}
/*ENDE:Navigationsmenü*/
		
/* Links im Hauptfenster vergößern. */
	td > a:not([href*="ElementsBase"]):not([target]) ~ br {
		/* Diese Regel NICHT ÄNDERN */
		height:0px;
		margin:0px;
		padding:0px;
	}
	
	td > a:not([href*="ElementsBase"]):not([target]){
		/*
		'padding: h b'
		Bestimmt Aufschlag auf Höhe (h) über UND unter Text, sowie Breite (b) rechts UND links von Text.
		Gesamtfläche ist dann klickbar.
		Die Links hier sind größtenteils im Fließtext oder in Tabellen, zusätzliche Breite ist machbar, 
		würde aber alles enorm auseinander drücken. Ein Höhenaufschlag macht deswegen Sinn, weil Text bzw. Links
		in der Regel Wörter sind, die breiter als hoch sind. Horizontal gibt es also "genug" Pixel als klickbare Fläche.
		Vertikal jedoch nicht. Stehen dann mehrere Links Zeile für Zeile untereinander wird es also ungenau, weil man 
		mit dem Finger mehrere auf einmal erwischt (oder den falschen).
		Der Aufschlag in der Höhe hat jedoch den Nebeneffekt, dass bei der Gebäudeinfo und ähnlichen Fenstern die Auflistung
		der Effektivität deutlich mehr vertikalen Platz braucht.
		*/
		padding: 0.5em 0px;
		
		/* ab hier NICHT ÄNDERN */
		display: inline-block !important;
	}
/*ENDE:Hauptfenster-Links*/

/*
Wandelt bei Routen verschiedene Links für "Aktionen" und "Bewegen" in Bilder um. Spart dadurch Platz.
*/
    /* Buttonform und Rahmen der links, Schrift ausblenden */
    td > a[href^="routenmenu.php?art=z&verlassen"],
    td > a[href^="routenmenu.php?art=m&verlassen"],
    td > a[href^="routenmenu.php?art=z&deleteid"],
    td > a[href^="aufstellen.php?art=m&deleteid"],
    td > a[href^="erstellen.php?from=routenmenu&routeid"],
    td > a[href^="erstellen.php?from=aufstellen&routeid"],
    td > a[href^="transfer.php?from"]{
        display:inline-block; color:transparent !important;    
        border: 1px solid white; border-radius:5px;
        width:40px !important; height:40px !important; padding:0px !important;
    }
    
    /*** Bilder ***/
    /* Einheiten erstellen / bearbeiten */
    td > a[href^="erstellen.php?from=routenmenu&routeid"],
    td > a[href^="erstellen.php?from=aufstellen&routeid"] {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M255%2045.4c-24.5%200-47%2011.8-63.9%2033.4-16.9%2021.5-27.1%2052.6-27.1%2086.5%200%2036%2012.1%2067.5%2031%2089.5l13.5%2015-19.6%204.6c-52.3%2011.9-77.4%2036.9-91.75%2075.2-13.7%2035.7-15.6%2084.8-16.1%20143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7%2012.9-15.7c17.7-21.9%2028.8-52.6%2028.8-87.5%200-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20transform%3D%22translate(512%2C%200)%20scale(-1%2C%201)%20rotate(0%2C%20256%2C%20256)%20skewX(0)%20skewY(0)%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(278%2C276)%22%3E%3Cg%20transform%3D%22translate(3.2%2C%203.2)%20scale(0.9%2C%200.9)%20rotate(0%2C%20128%2C%20128)%22%3E%3Ccircle%20cx%3D%22128%22%20cy%3D%22128%22%20r%3D%22128%22%20fill%3D%22%23ff8000%22%20fill-opacity%3D%221%22%3E%3C%2Fcircle%3E%3Ccircle%20stroke%3D%22%23fff%22%20stroke-opacity%3D%221%22%20fill%3D%22%23ff8000%22%20fill-opacity%3D%221%22%20stroke-width%3D%2218%22%20cx%3D%22128%22%20cy%3D%22128%22%20r%3D%22101%22%3E%3C%2Fcircle%3E%3Cpath%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%20d%3D%22M150.094%2059.7L139.07%2078.695c-7.27-1.615-15.652-1.322-22.142.234l-10.791-19.054L80.33%2074.858%2091.5%2094.554a48.133%2048.133%200%200%200-9.938%2018.63l-23.52.105-.197%2029.834%2025.035-.119a49.2%2049.2%200%200%200%209.666%2015.859L79.5%20181.36l25.61%2014.852%2013.108-22.596a47.62%2047.62%200%200%200%2018.542.3l13.102%2022.58%2025.623-15.283c-4.08-7.22-8.161-14.44-12.244-21.66a48.554%2048.554%200%200%200%2010.252-16.378l24.464-.092.198-29.834-23.235-.156a48.717%2048.717%200%200%200-10.387-19.304l11.172-19.24zm-19.705%2044.292c12.71%201.043%2022.352%2012.16%2021.787%2025.043-.584%2013.297-11.839%2023.598-25.137%2023.015-13.3-.582-23.855-11.836-23.018-25.121.905-14.35%2013.161-24.021%2026.368-22.937z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
    /* Warentransfer und Handel */
    td > a[href^="transfer.php?from"] {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M287.03%2020c-39.133.48-79.73%2015.297-117%2045.938h80.47v43.188c52.76-29.75%20114.592-31.588%20163.938.03l-18.188%209.72%2064.688%2050.72-3.75-83.314-26.407%2014.126C395.99%2048.792%20345.038%2020.644%20290.907%2020c-1.288-.015-2.583-.016-3.875%200zm-268%2064.625v212.75h212.782V84.625H19.032zm50.282%2026.03H205.78v138.939h-18.718v-120.25H69.313v-18.688zm3.344%2038.126l90.094%2091.845-13.344%2013.094-90.094-91.845%2013.344-13.094zm206.656%2061.75v212.782h212.75v-212.78h-212.75zm50.25%2026.064h136.469V375.5h-18.686V255.28h-117.78l-.002-18.686zm3.344%2038.094l90.125%2091.875-13.342%2013.062-90.125-91.844%2013.343-13.092zm-278.53%2063.656l3.75%2083.312%2023.312-12.47c60.927%2088.637%20169.99%20106.485%20259.625%2032.814h-80.439v-43.188c-52.08%2029.38-113%2031.544-162.03%201.188l20.436-10.938-64.655-50.718z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
    /* Provinz verlassen */
    td > a[href^="routenmenu.php?art=z&verlassen"],
    td > a[href^="routenmenu.php?art=m&verlassen"]{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M217%2028.098v455.804l142-42.597V70.697zM119%2055v160h18V73h62V55zm257.98.03l.02%202.275V87h16V55zM377%20105v16h16v-16zm0%2034v236h16V139zm-276.564%2058.727L42.162%20256l58.274%2058.273V279h96v-46h-96zM244%20232c6.627%200%2012%2010.745%2012%2024s-5.373%2024-12%2024-12-10.745-12-24%205.373-24%2012-24zm-125%2065v151h18V297zm258%2096v14h16v-14zm0%2032v23h16v-23zM32%20471v18h167v-18zm290.652%200l-60%2018H480v-18z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E"); 
    }
    /* Route löschen */
    td > a[href^="routenmenu.php?art=z&deleteid"],
    td > a[href^="aufstellen.php?art=m&deleteid"]{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20style%3D%22height%3A%20512px%3B%20width%3A%20512px%3B%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cg%20class%3D%22%22%20style%3D%22%22%20transform%3D%22translate(0%2C0)%22%3E%3Cpath%20d%3D%22M199%20103v50h-78v30h270v-30h-78v-50H199zm18%2018h78v32h-78v-32zm-79.002%2080l30.106%20286h175.794l30.104-286H137.998zm62.338%2013.38l.64%208.98%2016%20224%20.643%208.976-17.956%201.283-.64-8.98-16-224-.643-8.976%2017.956-1.283zm111.328%200l17.955%201.284-.643%208.977-16%20224-.64%208.98-17.956-1.284.643-8.977%2016-224%20.64-8.98zM247%20215h18v242h-18V215z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%221%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }
/* ENDE: ROUTEN-ICONS */
}

/* Wird gebraucht für korrekte Platzierung der Routenmenu-Symbole */
@-moz-document regexp(".*v3\\.verbranntezone\\.ch/routenmenu\\.php.*"){
    td:nth-child(9) > br,
    td:nth-child(10) > br {
        display: none !important;
    }
}

@-moz-document regexp(".*v3\\.verbranntezone\\.ch/transfer\\.php.*"){	
/*
Die folgende Regel vergrößert die Klickfläche des kleinen '+' beim Warentransfer von Handelsrouten.
*/
	tbody#transferBody a[href^="transfer.php"]{
		display: inline-block !important;
		/* 
		'padding: h b' bestimmt die Höhe und Breite. 
		Die erste Zahl (h) wird über UND unter dem '+' als Abstand dazugerechnet, die zweite Zahl (b) links UND rechts davon.
		Das heißt, Gesamthöhe der Schaltfläche = 2 * h + Höhe von '+' und Gesamtbreite = 2 * b + Breite von '+'
		*/
		padding: 5px 10px !important;
		text-align: center;		
	}
}
